input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 8px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
